.owl-carousel{
    display: block;
}

.service_item .top img {
    width: 10%;
}

.serslid{
    padding: 0 10% !important;
}
.serslidwidth{
    width: 25%;
}
.col-md-3{
    width: 25% !important;
}
.bxview{
    padding-top: 3%;
}
.owl-item{
    width: 200px !important;
}
.textfooe p, .textfooe h3, .textfooe ul, .textfooe li, .textfooe a {
    
}

.contact_info li {
  list-style: none; /* Hides the bullet points */
  padding: 0; /* Removes default padding */
}

.sizeic{
    position: relative;
    top: 5vh;
    width: 20%;
}

.sizeics{
    width: 50%;
}
.working_item{
    height: 400px;
}
/* -- Media Queries -- */
@media (max-width:1200px) {

}

@media (max-width:900px) {
    .serslidwidth{
        width: 50%;
    }
    .serslid{
        padding: 0 5% !important;
    }
}

@media (max-width:600px) {
    .serslidwidth{
        width: 100%;
    }
    .serslid{
        padding: 0 10% !important;
    }
    .col-md-3{
        width: 100% !important;
    }
}

@media (max-width:400px) {
    .serslidwidth{
        width: 100%;
    }
    .serslid{
        padding: 0 10% !important;
    }
    .col-md-3{
        width: 100% !important;
    }
}